In [2]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [3]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i , " ", price_list[i])

0   32100
1   32150
2   32000
3   32500

In [6]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-1-i , " ", price_list[i])

3   32100
2   32150
1   32000
0   32500

In [4]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(100+i*10 , " ", price_list[i])

100   32100
110   32150
120   32000
130   32500

In [8]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], " ", my_list[i+1])

가   나
나   다
다   라

In [10]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], " ", my_list[i+1] , " ", my_list[i+2] )

가   나   다
나   다   라
다   라   마

In [14]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[len(my_list)-i-1], " ", my_list[len(my_list)-i-2])

라   다
다   나
나   가

In [15]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(abs(my_list[i] -  my_list[i+1]))

100
200
400

In [18]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i] +  my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [20]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
volatility

[50, 100, 30, 80, 0]

In [23]:
apart = [["101호", "102호"],["201호", "202호"],["301호", "302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [24]:
stock = [[10, 80], [200, 210], [300, 330]]
stock

[[10, 80], [200, 210], [300, 330]]

In [27]:
stock = {100:80, 200:210, 300:330}
print(stock)

{100: 80, 200: 210, 300: 330}

In [28]:
stock = {"10/10" : [80, 110, 70, 90], "10/11":[210, 230, 190, 200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [32]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(apart[i][0] , "호")
    print(apart[i][1] , "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [35]:
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [34]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [37]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(apart[i][0] , "호")
    print("----")
    print(apart[i][1] , "호")
    print("----")

101 호
----
102 호
----
201 호
----
202 호
----
301 호
----
302 호
----

In [38]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(apart[i][0] , "호")
    print(apart[i][1] , "호")
    print("----")

101 호
102 호
----
201 호
202 호
----
301 호
302 호
----

In [39]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(apart[i][0] , "호")
    print(apart[i][1] , "호")
print("----")

101 호
102 호
201 호
202 호
301 호
302 호
----

In [43]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j]*0.00014 + data[i][j])

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [44]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j]*0.00014 + data[i][j])
    print("----")

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [45]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in range(len(data)):
    for j in range(len(data[i])):
        result.append(data[i][j]*0.00014 + data[i][j])
        
result

[2000.28,
 3050.427,
 2050.287,
 1980.2772,
 7501.05,
 2050.287,
 2050.287,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086]

In [46]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in range(len(data)):
    result_2 = []
    for j in range(len(data[i])):
        result_2.append(data[i][j]*0.00014 + data[i][j])
    result.append(result_2)
        
result

[[2000.28, 3050.427, 2050.287, 1980.2772],
 [7501.05, 2050.287, 2050.287, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086]]

In [49]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [51]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [53]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [56]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[2]) 
volatility

[40, 30, 10]

In [57]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[2]) 
print(max(volatility))

40

In [59]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
money = 0
for row in ohlc[1:]:
    money += (row[0] - row[3]) 
print(money)

0