In [2]:
list = [3, -20, -3, 44]
for i in list:
    if i < 0:
        print(i)

-20
-3

In [3]:
list = [3, 100, 23, 44]
for i in list:
    if i % 3  == 0:
        print(i)

3

In [4]:
list = [13, 21, 12, 14, 30, 18]
for i in list:
    if i < 20:
        if i % 3  == 0:
            print(i)

12
18

In [5]:
list = ["I", "study", "python", "language", "!"]
for i in list:
    if len(i) >= 3:
        print(i)

study
python
language

In [6]:
list = ["A", "b", "c", "D"]
for i in list:
    if i >= 'A' and i <= 'Z':  
    #if i.isupper() == True:
        print(i)

A
D

In [7]:
list = ['dog', 'cat', 'parrot']
for i in list:
    print(i[0].upper() + i[1:] )

Dog
Cat
Parrot

In [20]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in list:
    if i.split(".")[1] == "h":
                print(i)

intra.h
define.h

In [19]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in list:
    if i.split(".")[1] == "h" or i.split(".")[1] == "c":
                print(i)

intra.h
intra.c
define.h

In [21]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [25]:
for i in range(2002, 2051, 4):
        print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [30]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [35]:
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [37]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [41]:
for i in range(1, 10):
    print("3 X" ,i, "=", 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [42]:
count = 0
for i in range(11):
    count += i
count

55

In [43]:
count = 0
for i in range(1, 11, 2):
    count += i
count

25

In [46]:
count = 1
for i in range(1, 11):
    count *= i
count

3628800