In [2]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [3]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [6]:
integer = (1)
print(type(integer))
my_tuple = (1,)
print(type(my_tuple))

<class 'int'>
<class 'tuple'>

In [8]:
t = (1, 2, 3)
t[0] = 'a'
# 튜플에 저장되는 값을 변경할 수 없다.|

TypeError: 'tuple' object does not support item assignment

In [9]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [11]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
interest

['삼성전자', 'LG전자', 'SK Hynix']

In [12]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
interest

('삼성전자', 'LG전자', 'SK Hynix')

In [13]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [24]:
my_tuple = tuple(i for i in range(2, 99, 2))
print(type(my_tuple))
my_tuple

<class 'tuple'>

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)